@mixin modal-colors($bg-color, $color) {
<<<<<<< HEAD
    
=======
>>>>>>> 88ad1ebc7275d958cea744ed0dfd7269c948288c
    .modal-content{
        background-color: $bg-color;
        color: $color;
    }

    .modal-header .close{
        color: $color;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 88ad1ebc7275d958cea744ed0dfd7269c948288c

}
